.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDD90B;
}

.header-img {
    margin: 2vw 5vw;
    width: 25vw;
}

.menu {
    list-style: none;
    padding-right: 5vw;
    font-weight: 600;
}

.menu-items {
    display: none;

    &.is-open {
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 100%;
        margin-top: 10vw;
        padding-top: 5vw;
        background-color: #FDD90B;
        left: 0;
    }
}

.menu-item {
   padding: 5vw 3vw; 
   text-align: center;
   margin: auto;
   color: #151217;
   text-decoration: none;
}

.menu-bar {
    background-color: #151217;
    height: 1px;
    width: 50vw;
    margin: auto;
}

.burger{
    cursor: pointer;
    
}

.menu-item:hover,
.active {
    color: #DA001E;
}

.menu-item:hover {
    text-decoration: underline;
}

@media screen and (min-width:768px) {
    .header-img {
        width: 15vw;
    }

    .burger,
    .menu-bar{
        display: none;
    }

    .menu {
        display: flex;
    }

    .menu-items {
        display: block;
        font-size: 1.5rem;

        &.is-open {
            display: none;
        }
    }
}
